@use '../abstracts' as *;
@use 'sass:map';

// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

///*
//  Set up a decent box model on the root element
//*/

// set html { font-size: 62.5%; } if you want to make 1rem equal to 10px. dot not use it with css frameworks like bootstrap. tailwind etc.

/*
  Basic typography style for copy text
*/
body {
  @include font-smoothing;
  color: $body-color;
  font-family: $font-family-base;
  font-size: map.get($font-sizes, 'base');
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  text-transform: capitalize;
}

a {
  @include transition(color);
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ul,
ol,
dl,
p {
  margin: 0 0 $paragraph-margin-bottom;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 15px;
  font-weight: 500;
  font-family: $font-family-sans-serif;
  line-height: 1.3;

  @include media('>=tablet') {
    margin: 0 0 $headings-margin-bottom;
  }
}

h1,
.h1 {
  font-size: map.get($headings-sizes, 'h1');
}

h2,
.h2 {
  font-size: map.get($headings-sizes, 'h2');
}

h3,
.h3 {
  font-size: map.get($headings-sizes, 'h3');
}

h4,
.h4 {
  font-size: map.get($headings-sizes, 'h4');
  margin-bottom: 30px;
}

h5,
.h5 {
  font-size: map.get($headings-sizes, 'h5');
}

h6,
.h6 {
  font-size: map.get($headings-sizes, 'h6');
}
